<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShiftSage</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Navigation to edit, overtime and schedule pages -->

    <nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle rounded mb-5">

      <!-- Logo -->
      <a class="navbar-brand" href="#">ShiftSage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <!-- "navbar-nav navbar-list"  -->
      <div class="collapse navbar-collapse" id="navbarNav"> 
        <section class="nav ">
          <a class="nav-link" href="/parking/Home">Home</a>
          <a class="nav-link" href="/parking/edit">Manage Monitors/Shifts/Locations/Vacation</a>
          <a class="nav-link" href="/parking/overtime">Overtime Sheets</a>
          <a class="nav-link" href="/parking/schedule">Weekly Schedule</a>
        </section>
      </div>
      
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/parking/edit">manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parking/overtime">edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->

    </nav>

    
    <!-- <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/parking/home">ShiftSage</a></h1>
        <span>Scheduling made easy</span>
      </div>
    </header> -->
  </body>
</html>
