<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShiftSage</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    
    <div class="container d-print-none"><!-- Resizes navbar to content width -->
      <!-- Navigation to edit, overtime and schedule pages -->
      <nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle rounded mb-5">

        <!-- Logo -->
        <a class="navbar-brand" href="/parking/Home">ShiftSage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <!-- "navbar-nav navbar-list"  -->
        <div class="collapse navbar-collapse" id="navbarNav"> 
          <section class="nav w-100 d-flex">
            <!-- <a class="nav-link" href="/parking/Home">Home</a> -->
            <a class="nav-link" href="/parking/extraOT">Extra OT</a>
            <a class="nav-link" href="/parking/edit">Monitors, Shifts & Time Off</a>
            <a class="nav-link" href="/parking/holiday">Holidays</a>
            <a class="nav-link" href="/parking/overtime">Overtime Sheets</a>
            <a class="nav-link ms-auto" href="/parking/schedule">Weekly Schedule</a>
            <a class="nav-link" href="/parking/exportovertime">Export Overtime</a>
            <a class="nav-link" href="/parking/finalize">Finalize</a>
            <a class="nav-link" href="/parking/mongo">Mongo</a>
            <span class="mx-2 border-start border-2" style="height: 24px;"></span>
            <a class="nav-link" href="/parking/logout" class="col-3 btn btn-primary">Logout</a>
          </section>
        </div>
      </nav>
    </div>

  </body>
</html>
