<%- include('partials/header') -%>

<!-- Page 5: FAQ -->
<!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
<main class="container">
  <h1>FAQ</h1>
  <p>Don't know where to start? Click here for the Quick Start!</p>
  <% const todayToday = new Date() %>
  <p>Date: <%= todayToday %></p>
  
  <p>Schedule showing invalid date?</p>
  <span>You haven't calculated the overtime bids. Go back to 'Overtime Sheets' and click 'Calculate Overtime Shifts'</span>

</main>

<%- include('partials/footer') -%>
