<%- include('partials/header') -%>

<!-- Page 5: Finalize / 'Extra OT'/ Short Notice  -->
<!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
<main class="container">

    <section>
        <h1>Finalize</h1>
    </section>


    <section>
        <h1>Extra OT / Short Notice</h1>
    </section>

</main>

<%- include('partials/footer') -%>
