<%- include('partials/header') -%>

<!-- Page 6: Finalize -->
<!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
<main class="container">
    <section>
        <h2>Finalize</h2>
        <span>Press this button to add hours calculated from overtime to monitor hour totals. Be careful as there is no undo button. </span>
    </section>
</main>

<%- include('partials/footer') -%>
